
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
    background-color: #c1c1c1;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 54px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

@-webkit-keyframes spin {
  0%   { 
    opacity: 0.2;   
    text-shadow: 0px 0px 0px white;
}
  50% { 
    opacity: 1; 
    text-shadow: 0px 0px 90px white;
}
  100% { 
    opacity: 0.2;  
    text-shadow: 0px 0px 0px white;
 }
}

@keyframes spin-color {
  0%   { 
    opacity: 0.2;   
    text-shadow: 0px 0px 0px white;
}
  50% { 
    opacity: 1; 
    text-shadow: 0px 0px 90px white;
}
  100% { 
    opacity: 0.2; 
    text-shadow: 0px 0px 0px white;
 }
}

span.recycle {
    color: darkgreen;
    -webkit-animation: spin-color 10s linear infinite;
    animation: spin-color 10s linear infinite; 
}

.cls-1 {
    fill:#e8f4fa;
}

.cls-2{ 
    fill:#fff;
}

.cls-2,.cls-5,.cls-6 {
    stroke:#45413c;
    stroke-linejoin:round;
}

.cls-3 {
    fill:#bf8256;
}

.cls-4 {
    fill:#dea47a;
}

.cls-5 {
    fill:none;
}

.cls-5,.cls-6 {
    stroke-linecap:round;
}

.cls-6,.cls-9 {
    fill:#6dd627;
}

.cls-7 {
    fill:#00b8f0;
}

.cls-8 {
    fill:#009fd9;
}

.cls-10 {
    fill:#46b000;
}

.card {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
}

@media (max-width: 767px) {
    .title.m-b-md {
        margin-top: 13rem;
    }
}

.alert.alert-success {
    font-size: 1rem;
}
                   